# Exploratory Data Analysis

In [56]:
# Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import GradientBoostingClassifier

import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.preprocessing import StandardScaler
import numpy as np

In [57]:
!pip freeze > requirements.txt

In [19]:
# Pulling in Data
df = pd.read_csv('../data/train.csv')

df.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [20]:
# Getting unique values of each column to start building feature pipeline
for col in df.columns:
    if col not in ['id', 'Unnamed: 0']:
        print(f"For Column: {col}")
        print(col, df[col].unique())
        print("\n")

For Column: age
age [42 38 36 27 26 24 39 50 46 32 37 57 33 47 35 49 77 40 54 56 51 30 67 58
 59 45 43 29 48 31 28 34 60 52 41 81 23 62 53 72 55 25 44 61 63 69 75 71
 64 22 83 70 80 21 65 74 68 19 73 66 79 20 84 86 76 18 82 78 87 85 88 94
 93 89 92 95 90 91]


For Column: job
job ['technician' 'blue-collar' 'student' 'admin.' 'management' 'entrepreneur'
 'self-employed' 'unknown' 'services' 'retired' 'housemaid' 'unemployed']


For Column: marital
marital ['married' 'single' 'divorced']


For Column: education
education ['secondary' 'primary' 'tertiary' 'unknown']


For Column: default
default ['no' 'yes']


For Column: balance
balance [    7   514   602 ... 13023  4003  8218]


For Column: housing
housing ['no' 'yes']


For Column: loan
loan ['no' 'yes']


For Column: contact
contact ['cellular' 'unknown' 'telephone']


For Column: day
day [25 18 14 28  3 20 21 31  4  8  5 24 11 12 26 30  6 10 19 17  2 13 29 23
 27  7  9 16  1 22 15]


For Column: month
month ['aug' 'jun' 'may' 'feb' 'apr' 'nov' 'jul' 'jan' 'oct' 'mar' 'sep' 'dec']


For Column: duration
duration [ 117  185  111 ... 4817 2455 2040]


For Column: campaign
campaign [ 3  1  2 25  5  7  4 11  6  9  8 16 10 15 12 13 19 17 14 22 23 34 18 29
 24 30 21 27 36 28 20 35 32 26 40 37 31 33 63 51 46 39 43 48 41 44 38 42
 55 50 58 45]


For Column: pdays
pdays [ -1 175  91 181 252  90 211 183  87 168 172 364 266 122  94 196 324  92
 348  97 173 190 271 374 185 366 339 204 399 340  88 154  24 188 370 150
 365 101 133 355  83  99 247 259 350 189  95 180 367 371 265 151 363  85
  86 347 131 184 344 459 352 360  96 104 334 186 135 362  40 280 361 178
 202 244 776 109 351 293 182 192 353 356 187 369 191 170 255 317 174 321
 169 177 105 315 176 346 132 330 287  70 368 381 478 262 342 157 254 331
 171 149 153  89 234 107   8  93 322 253 103 245 251 127 336 357 258 226
 197 140 250 354 102 299 193 337 111 179 343   2 286 205 264 267 302 142
 148 325  81 461 195 274 308 508 345 440 586 358 222 332 314 200 263 272
 305 289 298  98 238 294 160 273 359 113 511 165 288 120 115   9 301   1
 155 167 300 118 270 329 462 281 198 414 328 341  79 208 296 123 248 145
 526 112 326 335 146 147  84 327 349 373 117 333 201  71 206  82 313 203
 108  36 392  74 199 139 454 316 257 306   7 194 241 385 394 106 310 323
 129 156 126 166 121 275 318  33 260 303 256 312 116 311   5 279 771 212
 141 119 842 292 239 110 210 124 295 134 391 412 164 456 128 521 463 114
 100 518 268   6 130 728  78 207 307 320  52 787 338 209 152 232  77 495
 136  29 425  57 772 249 261  13 828 240 269 297 290 397 449 555 284 246
 216 850  10 235 278 380 372 674 230 717 484 242  80 386 760 319 446 485
 282 460 159 557 138 304 231 393  25 144 277 213 455 221 158 433 490 687
 384 383 285  67 616 162 515 225 390 544 491 562 378 584 214 551 547 504
 223 524 536  76 227 442 143 558 579 472 486 656 626 831 161 651  47 854
 444 276  27 389 428 309 476  55 774 792 243 439 407 587  28 457 742 535
  49 561  58  63 237 422 388 163 838  73 395 413 759  35 426  31 379 217
 458 553 503 488 543  41  42 578  20 447 291 474  50  14 480 469 686 377
 466 574  38 427 479 430 633 435 532 215  64  56 769 471 563 670 592 805
 283 533 746 431 432 404 224 663  72 701 229 415 409 786 559 477 778 529
 137 756 500  34 690 779 482 767 531 548  48 825 450 437  60 417 475 835
 595 791 603 489 436 398 411 434 493 375  61 683  12  15 233 804  69  44
 405 467 527 228 492 473 784 585 671 541  43  66 775  37 826   4 125 401
 617 542 236 745 481 794  39  68 528 537 761 648 403 589 514  17 576  19
 583  62   3 748 516 808 647 821 445 782 517 594  75 783 692 556 424 219
 419 530   0 387 665 470 421  22  26 591 795 757 645 871 614 420 735 464
 546 749 741 658 655  21  53 550 569 220 667 410 818 634 685 661 611 714
  54 376]


For Column: previous
previous [  0   3   4   2   1   5   6  10  11   9   7  14  13  17   8  24  23  37
  12  27  25  38  15  16  29  19  20  32  55  18  34  22  26  21  28  35
  39  51  31  43  30  36  33  41  40  47  46 200  48  58]


For Column: poutcome
poutcome ['unknown' 'other' 'failure' 'success']


For Column: y
y [0 1]

In [24]:
# Getting dummy vairables
categical_features = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

df_dummies = pd.get_dummies(df, columns=categical_features)

df_dummies.columns

Index(['id', 'age', 'balance', 'day', 'duration', 'campaign', 'pdays',
       'previous', 'y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_divorced', 'marital_married', 'marital_single',
       'education_primary', 'education_secondary', 'education_tertiary',
       'education_unknown', 'default_no', 'default_yes', 'housing_no',
       'housing_yes', 'loan_no', 'loan_yes', 'contact_cellular',
       'contact_telephone', 'contact_unknown', 'month_apr', 'month_aug',
       'month_dec', 'month_feb', 'month_jan', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'poutcome_failure', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [35]:
# Removing unnecessary columns for prediction
df_clean = df_dummies.drop(columns=['id'])

# Splitting out the x and y values
x_train = df_clean.drop(columns=['y'])
y_train = df_clean['y']

# Splitting out the training and testing data
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [38]:
x_train

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
453635,28,5090,12,1297,2,-1,0,False,True,False,...,False,False,True,False,False,False,False,False,False,True
11651,51,1295,27,119,9,-1,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
431999,57,0,29,87,1,-1,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
529211,48,1323,15,83,5,-1,0,False,True,False,...,False,False,True,False,False,False,False,False,False,True
110925,38,659,28,534,4,-1,0,True,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,31,577,28,122,4,181,2,False,False,False,...,False,False,False,False,False,False,True,False,False,False
365838,31,0,28,88,3,-1,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
131932,30,1218,24,48,1,-1,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
671155,44,473,31,77,2,-1,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
121958,55,0,5,93,1,-1,0,False,False,True,...,True,False,False,False,False,False,False,False,False,True

In [41]:
# Logit model
logit_model = LogisticRegression(random_state=42)

# Fitting the model
logit_model.fit(x_train, y_train)

# Predicting the model
y_pred = logit_model.predict(x_test)

# Evaluating the model
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.97      0.95    131795
           1       0.66      0.44      0.53     18205

    accuracy                           0.90    150000
   macro avg       0.79      0.71      0.74    150000
weighted avg       0.89      0.90      0.90    150000

/Users/Jared.Young/Library/Python/3.9/lib/python/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [53]:
# Create and train the model
gb_model = GradientBoostingClassifier(
    random_state=42,
    n_estimators=100,
    max_depth=6,
    learning_rate=0.1,
    subsample=0.8
)

gb_model.fit(x_train, y_train)

# Make predictions
y_pred = gb_model.predict(x_test)

# Evaluate
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.9331

In [61]:
# 1. Define the neural network architecture
class BankDepositNN(nn.Module):
    def __init__(self, input_size):
        super(BankDepositNN, self).__init__()
        self.layer1 = nn.Linear(input_size, 128)
        self.layer2 = nn.Linear(128, 64)
        self.layer3 = nn.Linear(64, 32)
        self.output = nn.Linear(32, 1)
        self.dropout = nn.Dropout(0.3)
        self.relu = nn.ReLU()
        
    def forward(self, x):
        x = self.dropout(self.relu(self.layer1(x)))
        x = self.dropout(self.relu(self.layer2(x)))
        x = self.dropout(self.relu(self.layer3(x)))
        x = torch.sigmoid(self.output(x))
        return x

# 2. Prepare data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

# Convert to PyTorch tensors
X_train_tensor = torch.FloatTensor(X_train_scaled)
y_train_tensor = torch.FloatTensor(y_train.values).reshape(-1, 1)
X_test_tensor = torch.FloatTensor(X_test_scaled)

# 3. Initialize model, loss function, and optimizer
model = BankDepositNN(X_train_scaled.shape[1])
criterion = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# 4. Training loop
epochs = 1000
for epoch in range(epochs):
    model.train()
    optimizer.zero_grad()
    
    # Forward pass
    outputs = model(X_train_tensor)
    loss = criterion(outputs, y_train_tensor)
    
    # Backward pass
    loss.backward()
    optimizer.step()
    
    if (epoch + 1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

# 5. Make predictions
model.eval()
with torch.no_grad():
    y_pred_proba = model(X_test_tensor)
    y_pred = (y_pred_proba > 0.5).float().numpy().flatten()

# 6. Evaluate
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Epoch [10/1000], Loss: 0.6085
Epoch [20/1000], Loss: 0.4364
Epoch [30/1000], Loss: 0.3577
Epoch [40/1000], Loss: 0.3113
Epoch [50/1000], Loss: 0.2865
Epoch [60/1000], Loss: 0.2646
Epoch [70/1000], Loss: 0.2437
Epoch [80/1000], Loss: 0.2256
Epoch [90/1000], Loss: 0.2122
Epoch [100/1000], Loss: 0.2031
Epoch [110/1000], Loss: 0.1985
Epoch [120/1000], Loss: 0.1959
Epoch [130/1000], Loss: 0.1930
Epoch [140/1000], Loss: 0.1914
Epoch [150/1000], Loss: 0.1899
Epoch [160/1000], Loss: 0.1884
Epoch [170/1000], Loss: 0.1874
Epoch [180/1000], Loss: 0.1864
Epoch [190/1000], Loss: 0.1852
Epoch [200/1000], Loss: 0.1848
Epoch [210/1000], Loss: 0.1840
Epoch [220/1000], Loss: 0.1831
Epoch [230/1000], Loss: 0.1825
Epoch [240/1000], Loss: 0.1820
Epoch [250/1000], Loss: 0.1815
Epoch [260/1000], Loss: 0.1807
Epoch [270/1000], Loss: 0.1803
Epoch [280/1000], Loss: 0.1798
Epoch [290/1000], Loss: 0.1793
Epoch [300/1000], Loss: 0.1790
Epoch [310/1000], Loss: 0.1786
Epoch [320/1000], Loss: 0.1778
Epoch [330/1000], Loss: 0.1772
Epoch [340/1000], Loss: 0.1768
Epoch [350/1000], Loss: 0.1763
Epoch [360/1000], Loss: 0.1758
Epoch [370/1000], Loss: 0.1751
Epoch [380/1000], Loss: 0.1749
Epoch [390/1000], Loss: 0.1743
Epoch [400/1000], Loss: 0.1737
Epoch [410/1000], Loss: 0.1735
Epoch [420/1000], Loss: 0.1726
Epoch [430/1000], Loss: 0.1722
Epoch [440/1000], Loss: 0.1721
Epoch [450/1000], Loss: 0.1715
Epoch [460/1000], Loss: 0.1710
Epoch [470/1000], Loss: 0.1708
Epoch [480/1000], Loss: 0.1698
Epoch [490/1000], Loss: 0.1699
Epoch [500/1000], Loss: 0.1695
Epoch [510/1000], Loss: 0.1691
Epoch [520/1000], Loss: 0.1687
Epoch [530/1000], Loss: 0.1687
Epoch [540/1000], Loss: 0.1683
Epoch [550/1000], Loss: 0.1680
Epoch [560/1000], Loss: 0.1677
Epoch [570/1000], Loss: 0.1672
Epoch [580/1000], Loss: 0.1673
Epoch [590/1000], Loss: 0.1671
Epoch [600/1000], Loss: 0.1669
Epoch [610/1000], Loss: 0.1663
Epoch [620/1000], Loss: 0.1663
Epoch [630/1000], Loss: 0.1659
Epoch [640/1000], Loss: 0.1661
Epoch [650/1000], Loss: 0.1657
Epoch [660/1000], Loss: 0.1656
Epoch [670/1000], Loss: 0.1656
Epoch [680/1000], Loss: 0.1650
Epoch [690/1000], Loss: 0.1648
Epoch [700/1000], Loss: 0.1651
Epoch [710/1000], Loss: 0.1645
Epoch [720/1000], Loss: 0.1646
Epoch [730/1000], Loss: 0.1643
Epoch [740/1000], Loss: 0.1645
Epoch [750/1000], Loss: 0.1642
Epoch [760/1000], Loss: 0.1641
Epoch [770/1000], Loss: 0.1638
Epoch [780/1000], Loss: 0.1641
Epoch [790/1000], Loss: 0.1636
Epoch [800/1000], Loss: 0.1637
Epoch [810/1000], Loss: 0.1633
Epoch [820/1000], Loss: 0.1631
Epoch [830/1000], Loss: 0.1631
Epoch [840/1000], Loss: 0.1631
Epoch [850/1000], Loss: 0.1627
Epoch [860/1000], Loss: 0.1630
Epoch [870/1000], Loss: 0.1625
Epoch [880/1000], Loss: 0.1626
Epoch [890/1000], Loss: 0.1629
Epoch [900/1000], Loss: 0.1628
Epoch [910/1000], Loss: 0.1625
Epoch [920/1000], Loss: 0.1621
Epoch [930/1000], Loss: 0.1622
Epoch [940/1000], Loss: 0.1620
Epoch [950/1000], Loss: 0.1618
Epoch [960/1000], Loss: 0.1618
Epoch [970/1000], Loss: 0.1619
Epoch [980/1000], Loss: 0.1619
Epoch [990/1000], Loss: 0.1617
Epoch [1000/1000], Loss: 0.1615
Accuracy: 0.9313